# create database from scratch

In [1]:
from flask import Flask
from flask_sqlalchemy import SQLAlchemy
from faker import Faker
from datetime import datetime, timedelta
import os
import random
import base64
import pytz

# use australian sydney time zone
timezone = pytz.timezone('Australia/Sydney')

# filename is: ./database.db
base_dir = os.getcwd()
db_path = os.path.join(base_dir, 'database.db')

# initialize
faker = Faker('en_AU')
db = SQLAlchemy()
app = Flask(__name__)

app.config['SQLALCHEMY_DATABASE_URI'] = 'sqlite:///' + db_path
app.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False

db.init_app(app)

In [2]:
# 3 tables: student, supervisor, partner
class Student(db.Model):
    __tablename__ = 'student'
    __table_args__ = {"extend_existing": True}

    student_id = db.Column(db.Integer, primary_key=True)
    username = db.Column(db.String, nullable=False, unique=True)
    first_name = db.Column(db.String, nullable=False)
    last_name = db.Column(db.String, nullable=False)
    email = db.Column(db.String, nullable=False, unique=True)
    password = db.Column(db.String, nullable=False)
    avatar = db.Column(db.String, nullable=False)

    qualification = db.Column(db.String, nullable=False)
    school_name = db.Column(db.String, nullable=False)
    major = db.Column(db.String, nullable=False)
    skills = db.Column(db.String, nullable=False)
    strength = db.Column(db.String, nullable=False)

    # !!!!
    resume_url = db.Column(db.String, nullable=True, default=None)


class Supervisor(db.Model):
    __tablename__ = 'supervisor'
    __table_args__ = {"extend_existing": True}

    supervisor_id = db.Column(db.Integer, primary_key=True)
    username = db.Column(db.String, nullable=False, unique=True)
    first_name = db.Column(db.String, nullable=False)
    last_name = db.Column(db.String, nullable=False)
    email = db.Column(db.String, nullable=False, unique=True)
    password = db.Column(db.String, nullable=False)
    avatar = db.Column(db.String, nullable=False)

    qualification = db.Column(db.String, nullable=False)
    school_name = db.Column(db.String, nullable=False)
    skills = db.Column(db.String, nullable=False)


class Partner(db.Model):
    __tablename__ = 'partner'
    __table_args__ = {"extend_existing": True}

    partner_id = db.Column(db.Integer, primary_key=True)
    username = db.Column(db.String, nullable=False, unique=True)
    first_name = db.Column(db.String, nullable=False)
    last_name = db.Column(db.String, nullable=False)
    email = db.Column(db.String, nullable=False, unique=True)
    password = db.Column(db.String, nullable=False)
    avatar = db.Column(db.String, nullable=False)

    company = db.Column(db.String, nullable=False)
    position = db.Column(db.String, nullable=False)
    description = db.Column(db.String, nullable=False)

################################################################

# the partner creates the project
class Project(db.Model):
    __tablename__ = 'project'
    __table_args__ = {"extend_existing": True}

    # each partner may have multiple project
    project_id = db.Column(db.Integer, primary_key=True)
    partner_id = db.Column(db.Integer, db.ForeignKey('partner.partner_id'), nullable=False)

    title = db.Column(db.String, nullable=False)
    description = db.Column(db.String, nullable=False)

    # the project detail
    problem_statement = db.Column(db.String, nullable=False)
    desired_outcomes = db.Column(db.String, nullable=False)
    required_skills = db.Column(db.String, nullable=False)
    deliverables = db.Column(db.String, nullable=False)

    # timestamp for project creation
    created_at = db.Column(db.DateTime, nullable=False, default=datetime.now)

    # the partner decides for supervisor id,
    # then the supervisor decides for student id
    # these two values are null at beginning
    supervisor_id = db.Column(db.Integer, db.ForeignKey('supervisor.supervisor_id'), nullable=True, default=None)
    supervisor_being_assigned_at = db.Column(db.DateTime, nullable=True, default=datetime.now, onupdate=datetime.now)

    student_id = db.Column(db.Integer, db.ForeignKey('student.student_id'), nullable=True, default=None)
    student_being_assigned_at = db.Column(db.DateTime, nullable=True, default=datetime.now, onupdate=datetime.now)

    # project has a flag: is_open, in_progres, closed
    status = db.Column(db.Enum('is_open', 'in_progress', 'closed'), nullable=False, default='is_open')

# the student express interests, and attach a sentence
class StudentInterestExpress(db.Model):
    __tablename__ = 'student_interest_express'
    __table_args__ = {"extend_existing": True}

    # each student may have multiple interests to multiple projects
    student_interest_express_id = db.Column(db.Integer, primary_key=True)
    student_id = db.Column(db.Integer, db.ForeignKey('student.student_id'), nullable=False)
    project_id = db.Column(db.Integer, db.ForeignKey('project.project_id'), nullable=False)
    reason = db.Column(db.String, nullable=False)
    last_updated_at = db.Column(db.DateTime, nullable=False, default=datetime.now, onupdate=datetime.now)

# the supervisor also need to express interests to link project with student,
# also attach a sentence
class SupervisorInterestExpress(db.Model):
    __tablename__ = 'supervisor_interest_express'
    __table_args__ = {"extend_existing": True}

    # each supervisor may have multiple interests to multiple projects
    supervisor_interest_express_id = db.Column(db.Integer, primary_key=True)
    supervisor_id = db.Column(db.Integer, db.ForeignKey('supervisor.supervisor_id'), nullable=False)
    project_id = db.Column(db.Integer, db.ForeignKey('project.project_id'), nullable=False)
    reason = db.Column(db.String, nullable=False)
    last_updated_at = db.Column(db.DateTime, nullable=False, default=datetime.now, onupdate=datetime.now)

# the student reports for progress for the project,
# recorded with date, and content, and will be commented by the partner only
class ProjectProgress(db.Model):
    __tablename__ = 'project_progress'
    __table_args__ = {"extend_existing": True}

    # each student may have multiple progress for a project
    project_progress_id = db.Column(db.Integer, primary_key=True)
    project_id = db.Column(db.Integer, db.ForeignKey('project.project_id'), nullable=False)
    student_id = db.Column(db.Integer, db.ForeignKey('student.student_id'), nullable=False)

    # the student can upload some text content, and a file url,
    # url can be null
    content = db.Column(db.String, nullable=False)
    file_url = db.Column(db.String, nullable=True, default=None)
    student_last_updated_at = db.Column(db.DateTime, nullable=False, default=datetime.now, onupdate=datetime.now)

    # the partner will provide some comment only
    partner_id = db.Column(db.Integer, db.ForeignKey('partner.partner_id'), nullable=True, default=None)
    partner_feedback = db.Column(db.String, nullable=True, default=None)
    partner_last_updated_at = db.Column(db.DateTime, nullable=True, default=datetime.now, onupdate=datetime.now)


# the supervisor can provide feedback at all times
class ProjectSupervisorFeedback(db.Model):
    __tablename__ = 'project_supervisor_feedback'
    __table_args__ = {"extend_existing": True}

    # each supervisor may have multiple feedback for a project
    project_supervisor_feedback_id = db.Column(db.Integer, primary_key=True)
    project_id = db.Column(db.Integer, db.ForeignKey('project.project_id'), nullable=False)
    supervisor_id = db.Column(db.Integer, db.ForeignKey('supervisor.supervisor_id'), nullable=False)

    feedback = db.Column(db.String, nullable=False)
    supervisor_last_updated_at = db.Column(db.DateTime, nullable=False, default=datetime.now, onupdate=datetime.now)

In [3]:
with app.app_context():
    db.drop_all()
    db.create_all()

## Generate fake data for the database, save to ./raw_data

In [4]:
# Create some fake data
qualifications = [
    'Bachelor of Science', 'Bachelor of Arts', 'Master of Science', 'Master of Business Administration',
    'Bachelor of Commerce', 'PhD in Computer Science', 'Bachelor of Engineering', 'Master of Arts',
    'Bachelor of Information Technology', 'Master of Information Technology', 'Doctor of Philosophy in Arts',
    'Bachelor of Education'
]

school_names = [
    'University of Sydney', 'University of Melbourne', 'University of Queensland', 'Australian National University',
    'University of Western Australia', 'University of Adelaide', 'Monash University', 'University of New South Wales',
    'University of Canberra', 'University of Tasmania', 'James Cook University', 'Macquarie University'
]

majors = [
    'Computer Science', 'Business Administration', 'Biology', 'Mathematics', 'Chemistry', 'Physics',
    'History', 'Literature', 'Psychology', 'Philosophy', 'Education', 'Civil Engineering', 'Electrical Engineering',
    'Mechanical Engineering'
]

skills_list = [
    'Problem solving', 'Data analysis', 'Teamwork', 'Software development', 'Project management', 'Leadership',
    'Statistical analysis', 'Public speaking', 'Digital marketing', 'UX/UI design', 'Database management',
    'Graphic design', 'Networking', 'Research'
]

strengths_list = [
    'Strong analytical capabilities', 'Adept at multitasking', 'Highly communicative and team-oriented',
    'Profound coding abilities', 'Solid management skills', 'Exceptional problem-solving aptitude',
    'Detail-oriented', 'Resourceful and creative', 'Versatile skillset', 'Quick learner', 'Adaptable to change',
    'Goal-driven'
]

students = []
NUM_STUDENTS = 20

for i in range(NUM_STUDENTS):
    # so the name is never duplicate
    first_name = faker.unique.first_name()
    last_name = faker.unique.last_name()

    # unique username, email, password all the same
    username = f"{first_name.lower()}-{last_name.lower()}"
    email = f"{first_name.lower()}-{last_name.lower()}@student.edu.au"
    password = "Abcd1234!"

    # random qualification, school_name, major, skills, strength
    qualification = random.choice(qualifications)
    school_name = random.choice(school_names)
    major = random.choice(majors)
    skills = ", ".join(random.sample(skills_list, 3))
    strength = random.choice(strengths_list)

    students.append(f"{username}|{first_name}|{last_name}|{email}|{password}|{qualification}|{school_name}|{major}|{skills}|{strength}")

# open the file: ./raw_data/student.txt
with open('./raw_data/student.txt', 'w') as f:
    for student in students:
        f.write(student + '\n')

In [5]:
# 10 supervisor is enough
# Lists for realistic values
qualifications_supervisor = [
    'PhD in Computer Science', 'PhD in Business Administration', 'Master of Business Administration',
    'Master of Science', 'Master of Arts', 'Doctor of Philosophy in Arts',
    'Bachelor of Engineering', 'Master of Information Technology',
    'PhD in Electrical Engineering', 'PhD in Mechanical Engineering', 'Doctorate in Psychology'
]

supervisors = []

for i in range(10):
    first_name = faker.unique.first_name()
    last_name = faker.unique.last_name()

    username = f"{first_name.lower()}-{last_name.lower()}"
    email = f"{first_name.lower()}.{last_name.lower()}@school.edu.au"
    password = "Abcd1234!"

    # qualification is a new list, school_name and skills are the same the same
    qualification = random.choice(qualifications_supervisor)
    school_name = random.choice(school_names)
    skills = ", ".join(random.sample(skills_list, 4))

    supervisors.append(f"{username}|{first_name}|{last_name}|{email}|{password}|{qualification}|{school_name}|{skills}")

# open the file: ./raw_data/supervisor.txt
with open('./raw_data/supervisor.txt', 'w') as f:
    for supervisor in supervisors:
        f.write(supervisor + '\n')

In [6]:
# partner

# Lists for position and description
positions = [
    "CEO", "CTO", "COO", "Chief Officer",
    "Director of Operations", "Director of Sales",
    "HR", "Head of HR"
]

descriptions = [
    "Over 20 years of experience leading technology teams.",
    "Proven track record in scaling startups to multi-million user bases.",
    "Expertise in global finance, managing budgets exceeding $100 million.",
    "Passionate about innovative marketing strategies and their execution in the global market.",
    "Directed multiple successful product launches, resulting in a 300% growth in sales.",
    "Broad experience in setting company vision, strategy, and successfully executing it.",
    "Adept at building, maintaining, and nurturing high-value customer relationships.",
    "Significant expertise in business transformation and change management across diverse industries.",
    "Strong background in data-driven decision making, leveraging cutting-edge analytics tools.",
    "Passionate about fostering team growth, development, and ensuring optimal productivity.",
    "Has spearheaded numerous green initiatives, pushing for sustainability in the industry.",
    "Holds a successful record in mergers and acquisitions, optimizing business value.",
    "Expert in crafting and implementing efficient operational processes, reducing overheads by 40%.",
    "Pioneered the adoption of AI and ML techniques for business optimization in the company.",
    "Deep understanding of the supply chain, having improved logistics efficiency by 25%.",
    "Championed company culture, employee satisfaction, and reduced attrition rates.",
    "Frequent speaker at international conferences, representing the company's vision and achievements.",
    "Skilled in negotiation, having secured valuable partnerships and contracts.",
    "Strong advocate for diversity and inclusion, implementing company-wide programs.",
    "Extensive background in R&D, driving innovation and patenting new technologies.",
    "Played a pivotal role in expanding the company's footprint in Asia and Europe.",
    "Known for a hands-on leadership style, directly contributing to project successes.",
    "Guided by a strong ethical compass, prioritizing transparency and accountability.",
    "Consistently prioritizes customer feedback, leading to better product iterations.",
    "Highly skilled in crisis management, steering the company through multiple challenging periods."
]

NUM_PARTNERS = 10
partners = []

for i in range(NUM_PARTNERS):
    # name no duplicate
    first_name = faker.unique.first_name()
    last_name = faker.unique.last_name()

    username = f"{first_name.lower()}-{last_name.lower()}"
    email = f"{first_name.lower()}.{last_name.lower()}@business.au"
    password = "Abcd1234!"

    # company, position, description
    company = faker.company()
    position = random.choice(positions)
    description = random.choice(descriptions)

    partners.append(f"{username}|{first_name}|{last_name}|{email}|{password}|{company}|{position}|{description}")

# write this into ./raw_data/partner.txt
with open('./raw_data/partner.txt', 'w') as f:
    for partner in partners:
        f.write(partner + '\n')

## Fill the default data into database

In [7]:
# the avatars contains all the avatars image
# open each avatar, and encode to base64
filename_list = os.listdir('./raw_data/avatars')
full_filename_list = [os.path.join('./raw_data/avatars', filename) for filename in filename_list]

avatars = []
for full_filename in full_filename_list:
    with open(full_filename, 'rb') as f:
        avatar = base64.b64encode(f.read()).decode('utf-8')

        # add the data:image/jpg;base64
        avatar = f"data:image/jpg;base64,{avatar}"
        avatars.append(avatar)

print(avatars[0])

data:image/jpg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/4gHYSUNDX1BST0ZJTEUAAQEAAAHIAAAAAAQwAABtbnRyUkdCIFhZWiAH4AABAAEAAAAAAABhY3NwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAA9tYAAQAAAADTLQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAlkZXNjAAAA8AAAACRyWFlaAAABFAAAABRnWFlaAAABKAAAABRiWFlaAAABPAAAABR3dHB0AAABUAAAABRyVFJDAAABZAAAAChnVFJDAAABZAAAAChiVFJDAAABZAAAAChjcHJ0AAABjAAAADxtbHVjAAAAAAAAAAEAAAAMZW5VUwAAAAgAAAAcAHMAUgBHAEJYWVogAAAAAAAAb6IAADj1AAADkFhZWiAAAAAAAABimQAAt4UAABjaWFlaIAAAAAAAACSgAAAPhAAAts9YWVogAAAAAAAA9tYAAQAAAADTLXBhcmEAAAAAAAQAAAACZmYAAPKnAAANWQAAE9AAAApbAAAAAAAAAABtbHVjAAAAAAAAAAEAAAAMZW5VUwAAACAAAAAcAEcAbwBvAGcAbABlACAASQBuAGMALgAgADIAMAAxADb/2wBDAAMCAgMCAgMDAwMEAwMEBQgFBQQEBQoHBwYIDAoMDAsKCwsNDhIQDQ4RDgsLEBYQERMUFRUVDA8XGBYUGBIUFRT/2wBDAQMEBAUEBQkFBQkUDQsNFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBT/wAARCAFZAVoDASIAAhEBAxEB/8QAHgABAAEFAQEBAQAAAAAAAAAAAAEFBgcICQIDBAr/xABXEAABAwMBBQQECAkIBQoHAAABAAIDBAURBgcSITFRCEFh8BNxgZEJFCIjMlKhsRUWQmJygpLB0SQzOHSEorO0GDSTlOEXJUNEVGN2g8LxN1Nzo6Syw//EABoBAQACAwEAAAAAAAAAAAAAAAADBAECBQb/xAArEQACAgEEAQQCAQQDAAAAAAAAAQIDEQQSITEyBRQiQVFSExVCcYEzYfD/2gAMAwEAAhEDEQA/AOqaIiAIiIAiIgCIiAIiIAowpRARjxTHipRARjxTHipRARjxTHipRARjxTHipRARjxTHipRARjxTHipRARjxTHipRARjxTHipRARjxTHipRARjxRSiAIiIAiIgCIiAIiIAiIgCIiAIiIAiIgCIiAIiIAiIgC8Ofgr0Tha29tjbtLsr0LHY7PUup9RX4OjbNE7D6amGBJICDkOOQ1p5/SIILVrJ7Vkyll4Mo3/b7s/wBL6jjsN01ZbKO6vf6M075c+jfy3ZHDLYz+mQsgtOWglcMIrvJWXIhzsh5PyzxcTzyT1yPtXZ3YxdjfdkWirg55kkqLLRyPcSSS8ws3sk9+cqKue8lsr2F5oiKchCIiAIiIAiIgCIiAIiIAiIgCIvLnYzwQFk64206K2c3Wltuo9SUNprqpu/HDO4l26TgOcADutJBGXYHA8eCuq33emu1FT1lDUwVlJO0Pinp5BJHI08nNcDghcq+2hqJ1b2h9Xzk+lbDPDSsackNEcEbSB0+UHH1kq8+xB2g5tC6zp9MXSqedNX2UQtbK/wCTSVROGPGeQeTuuA6tcfonNdW/LBYdXxydLm5LRngeilQ05Cc1YK5KIiAIiIAiIgCIiAIiIAiIgCIiAIiIAiIgCIiA+U0rYWue9zWMaN4uccADrnuXH/tM7WJdq+02+X0TOfRPlNJb2nhuU0ZIbw7t7i4+Lyuj3a818dn2wjUVTDJuV1wYLZTccEulyH4PcRH6R2fzVyKu8ofVbg+jG3Cq2y5SLVEe2z89E8tqoTkj5Q92eC6/9kC7/hjs56MmJy6Onlp3A8x6OaRn3NC4+sO69p6ELqV8H3eRcthk9IXfKt92qIAPzXMjkH2vPuWtbxI3tXxNnBy8VKgFSrZSCIiyAiIgCIiAIiIAiIgCIiAL5yd/Ae1fRfhvFwjtVsrK2bPoaaF87yPqtaSfuWH0ZXZxs7QV4F92tavrmu3mVF6rJGcfyfTO3fswrIslWaep3Q4tz8ppBwQR3g9ea+upaqStuHppjvSyZkeT3ucSSqVFIYpGvBwWkEHxXPZ0l0jsj2ZdqTtrGxux3iolEt1gZ8SuB5kzx4BcfFzd1/66ys3ktAPg59oPxHVl+0jNKW09yphXUzSeAmiwHho6ljgfVGt/28ldrluiULI7ZEoiKQjCIiAIiIAiIgCIiAIiIAiIgCIiAIiIAoKleScHwQGjHwkess12kdLRyfJijlulQzPPJ9HEfZuze9aAySekkc883ElbI9uDVR1Dt61Vuv34LcyK3x+AZGN8f7R0i1syufLmTOhBYih0XQ34NW+mW161tLnYDJKWsY09+817X4/ZYueR4+1bifB0ah/B+2Cpt734ZcrNLG1uecjHxvH91r1tF4kjFnMWdIx3Ke9fMvIxgde5WxrvahpnZlZvwpqa8UtqoyDuGV+Xyn6sbB8p5/RB9yutlBLPRdRdg8l4mqI4I3Pke1jGjLnOOAB4laLbSvhEayoqnUuh7EykpQ4g3C6jfmd4siad1vgXFw8FiK/7UNQbSN2qu99q7qxx3hHLJiNp6CMYa0+AHv5qvK9LhFqGnlLs6Eai7QGz7TD3MrdU0D5G8DFSPNS8HpiMOx7cLH117bOh6J7mUlDeLg4fRcyCONh/akB+xaO92O5PVwHQKs9RN9FlaaH5Nuqzt30jHH4ro+abjj564CP7o3L8EvbvqjJmPRsLWfVdciT7/RD7lqp3Y7k5rX+awkWnrNtIO3iwvxNot0bMfSZdA4+70Q+9V629uTS0+6K2xXamzzMAjmA4jnlzT9i0tIyhGfH1orpj21bOhli7U2ze+Bjfxgbb5ncPR18L4setxG7/AHlkmz6gt2oKUVNsuFJcafOPTUkzZWe9pIXKrlwAxnhwX5anXFZoqdlTbK2ejumPm5KWV0b2jrlpBCljqH9oglpl/azraHnHJegchc1dm/bx2gaQmihv4p9W24EA/GmiGoaOjZWDif0mu9a3L2QdqPQ+2NkdNbLh+Db27gbTcsRzk/mccSDn9Ek8OIarUbFIqSrlEy+scdoq+DTuw7XNaXbjhaJ4WOHc+Rhjaf2nj3LIu/0/9lrn29dQfgjs+1dIXbputwpqTA6BxmP+CtpPEWaRWZI5ZXh2a7B/JGOC/DgDgv1XN2a6Xww37F+bIVFHRfBl7s162/EXa1o+9l4ZDTXBkNQ4ngIZMxyH2MkcfYuxLM7ozzXCyxSkPlaDjkQeh8ldrtmGpvxz2c6YvpOXXG209U/PMOfG1zgfEEkKel9orXrplzoiK0VQiIgCIiAIiIAiIgCIiAIiIAiIgCIiAL5yOI5FfRUDXd3On9F6gumd34lb6ip3u4bkbnZ+xYfCMrs46bXb9+NGstTXjf3xX3SoqQ7818rnAe4qwMqvXdpNE4+OSqDlc9HT+kM5Kzl2VdSfijtw0HXF+419cyjeSeAbMDCSfAek9iwa0bzgO8ngrtt1RLbZaaenldFUQOY+ORvNjm8QQjeGmYxuTR057TXantmxOi/BNsZFdNYVLA6OlccspGHlJLjGeoZnJ58Bz5xa217fdo9/mveornPc6+X/AKSV3BjT+SwDgxvg3A9+VT9QX2u1Veq27XWqkrrjWyumnnl4ue9x4n/h3Dgvw7w6/YsTm5sxXWoIjgBjKqNmvMtoqN9mXQu/nI+53iOhVP3h5CZHVR4yTGUqOthuFOyaB28x32eBX2WN7NeZbRUb7Mvhd9OPud4+tZCo62G4U7JoHbzHfZ4FRYwyaLyfZERDYIipF+v7LNFut+XVPHyWDu8SmBwhfr+yzRbrfl1Tx8lg7vEqwZ6h9VK6WV5fI45JKT1D6qV0sry+RxySV43h5ClRC3yRwznlwxyX0hqH00zJYZHwyxkOZJGS1zSOIII4gg9/gvG8PITeHkJ0a98G6HZl7bU9PU0ul9o1YZ6WQiGl1BKflxE8A2oPe0nA9JzB+lkZcP1fCQaqbLBomwwSBzXfGLhK0H5J4NZGf8X2LSXI6qrag1ZdNVRWmO61slaLVRNt9IZOccDXue1me8AvIHhgcgAp1ZmOGQfxJSyixrgR8dm6b3DPRfnyF+y7M9HWE9zhnPsX48rVGzP3Wd/8rI7iwgrrJ2J7+699nXTrXO35aGSopHuJ+rM8tHsY5q5N2Yb1YcfVPuXSX4Oa7Gp2W6itrnEmmvBmHg2SGMY59YyfaVvU8TIrVms21ByP4IOIQchlOSvFAlERDIREQBERAEREAREQBERAEREAREQBYx7TFx/BewXXc2Q3ftU0OScfTbuY/vY9qycsH9tOr+J9mzWBa4NfI2ljGe/eqoQR7srSfizeHkjldKwSRuaR8k8FQ57VPE75Ld9vcQVXvknwHPCDA71zcnUwUm3W1zZRJMN0A5DTzKq+QPBMjqgIH/smTCQ3h5Cbw8hN4eQm8PIQ2G8PITeHkJvDyE3h5CAZHVVCzXmW0VG+zL4XfTj7nePrVP3h5CZHVY7Mp4MpUdbDcKdk0Dt5jvs8Cvssb2a8y2io32ZfC76cfc7x9auu5arpqahbLTvEs0g+Qz6viVE08kqkfa/X9lmi3W/Lqnj5LB3eJVgz1D6qV0sry+RxySUqKh9TM+WZ5fI45JK8bw8hSJEbeRvDyE3h5Cbw8hN4eQtjUbw8hN4eQm8PITeHkIBvDyE3h5Cbw8hN4eQgPxXSjNVEHM+m3l4qiiCVzsCJ2emFc+QmR1TLNWj8FronUzC94w9/DHQLej4Ni4ETa+oS7hiimYMDh/PNcftatJuC23+DirCzaTqmlBGJbSJfH5MzB/61JX5Ijs4gzoMOSlQ3kpXQOYgiIsmQiIgCIiAIiIAiIgCIiAIiIAiIgC167dtSIOzxd2Fhd6WrpWAj8n50Oyf2ce1bCrAnbipnTdm7Usg3cRS0b3Z6fGYm8Pa5aT8Wbw8kcu2kAc/sU7w8hAQAP4JvDyFzTqjeHkJvDyE3h5Cbw8hAN4eQm8PIQux09qv7Y3sW1Htu1P8AgixQBkUO6+sr5wRDSsJIBce8nB3Wji7B7gSCTfRq2ksssDeJOBju/eqpb9NXm7QCeitFdWQk4D6emfI3PTIHNdPNknZF2f7MKOnkfa49RXlgzJcrrEJDvcOLIzlkYBHDALh9Y81mtkTI2hrW7rQMANGAArMaG1yVpahJ8I4l1dJUUE7oKqCSmnbzilbuuHrB4jzwXxz4LtJqbRti1lb3UN+tFHeKN2fma2BsrR4jI4HxHFab9oPsGQ09LU33Zs2TMTTJLYJXmQvGOPoHniXf924nPHDhwatXU10bQvTeGaR56lOB7/sXqWOSmldFNG6KVjix7HghzSDggjHMdF53hjn9ir/5LOc9DIHf9iFw6/dlASTgDJ6dVnPs5dle97c523OqlfZ9JwybsleG5kqCObIGngT3bx4DoeS2inJ4RpKSisswaA4nABJ6AKrxaPv81OKhlkuLoCN70raSQtx1zu4XWDZrsA0HstpIG2DT1LFVRgZr6hgmqnEd5kdkjPRuB4BZE9GPH3qyqP8AsrPUfhHER7XRuc1zS1wOC0jiFG8uxO0LY/o7abRvg1Hp+iuT3N3W1Dow2oj/AEJRh7fYVoX2kexvdNkkE+oNNSy3rSjMumEgHxigGeb8fTZ+eBw47w/KMcqnHk3hcpcM1q3h5Cbw8hA4EdPYm8PIUJYG8PITeHkJvDyE3h5CGRvDyFtL8HTx23Xr/wAPT8f7TTLVreHkLav4OenL9sd+qARussUkZHfl1RAR/wDqVJX5Iit8GdEm8ApUN5KV0fs5aCIiGQiIgCIiAIiIAiIgCIiAIiIAiIgCxD2s6A3Ls8a3iDd7cohPgN3v5uRknL9Xn3c1l5WFt3ojcdjGvKdrd577FW7jc4y4QPLftAWsumbR8kcfsgcM8k3h5CZHq8E3h5C5j7OqhvDyE3h5Cbw8hN4eQsGSs6M0jcde6rten7RF6a43GobBCDwa3PNzj3NaMk9AMrrZsf2TWbY9oag09Z48tjbv1FS5uH1MxA35Hd+TgAA8gAO5aofB17NY56nUGu6uEP8AQkWuhe4fRcQHTOHsMbc+Luq3nbyV2mGFllC6eXtGMKURWSsRhedwFxJ8F7Ud6A0f7eHZ7ghhftI0/TCKQPbHeaeEYDsnDajA5HOGu67zT3OJ0iDhjp7F2tvlmo9R2qvtVwgbU0FZA+nngeOD43tLXA+sErjptE0dU7O9dX3TdWS6S2VclP6QjHpGB3yX+pzS136yo2xw8ovUTysMvPs37E6jbltFgtLt+Ky0oFVc6hg4thB+g3895w0eG8eO6QerFhsVDp2z0ltttLHQ0NLG2KGnhGGRtHIAfv7+9YK7E2zBmgdjFFcZ4Ay66hxcZ3nn6Ij+Tsz0DDveuRy2FaN0YViqCisle2blLH0AN0YUoimISCM96+c1NHUQvilYJI3tLXMeN4EEYIIPMeC+qhDBy/7X+wBuxbXDa20QlmlbwXSUgyXCmkHGSAk9wyHNJ5tJHEtJOAs9efqXWrtL7MYtq+yC/Wj0IkuEMRraA4yRURgloH6Q3mfrlclc458D054XPtjtZ0aZ7lyN4eQm8PITeHkJvDyFEWBvDyFuX8G1b/S6k1xXEcIaSlhzjlvvkd//AD+wrTTeHkLez4NugDLFrqswPn6mkh3u/wCQ2U4/+59qlq8iG7wN0W8gpUDkpV85gREWTIREQBERAEREAREQBERAEREAREQBWTtqrY7dsh1xUynEcVkrXHjgn5h+B+5Xstdu3XrL8V9g1fRMk9HU3uqgt7CDxDd70rz6i2MtP6XitJvEWbRWZI5lZAym8PITOOefaE3h5C5p1UN4eQm9xHTvJTeHkKOG9nrw9iIM6vdkrS7NL9nzRsIaWSVVKbhI4twXGZzpAT+q5oHgAswAYACtHZBG2HZRotjBhjbLRADoPQMV3rpx6RyW8yZ85JSzPBWfrTbRoDZvWwUertc6a0rWVDPSQ097u9PRySMzjea2V7SRkYyAq5qu6usOm7vc44HVUlFRy1TYG85Cxjnbo8TgBfzJbQtfX7adrS76p1LcJbpfLpUOqamqmdkuceQHRrRhrQOAaABgABbGD+nmhulNc6OmrKKeKso6mNssNRA8PjkYRkOa4cCCDnIPJfractBIx4Llv8CptUv93ode6Cr6massFqjguVvbK4ltG+R72yxtP5LXkNdu8stecZcc9R2fRCAFgJzxXPHtw7NZ6vtE2h9BTyH8YqSlEkzYyQJRIYMnA7mtjXRBa19pClZPtv2QZ3AXXBm8Xng4NqITj7T71Db4k1PkbDWm2wWi2UlFSs9FT00LIImfVY0ANHsAC/aOS8MGGjPPC9jkpEQkFxBHRWM/brs5j1V+K8mv9LR6m9L6D8DOvNN8c9IeTPQ+k397wxnwWLfhBtqF+2Pdk3XWotM1ElDevR09FBWQuIfTennjifI0jk4Me7dPc4tPdg/z2zTvnlc98jnyOJcXuJJJPMk8+8n2rYH9TzTvNBUrVD4Mfatf9rHZL0/V6knmrbjaaqotArqkkyVMURBjcXH6Rax7Wb3f6M5yclbXBDB5cBnJ9i49bbdMx6M2vaws0UYip6W5ziGMDg2IvLox+y5q7CuHErlf2zYY6btK6yZGN1pdSPx4upIST7yVXv8AEt6fyMKbw8hN4eQm8PITeHkKkXhvDyFvj8G5XRO0vralBJliraeVw/NfG4D7Y3e5aHbw8hbPfB+azZYdsdZZJnhsV9oHxxjHOaL5xv8AcEvvUlbxJENqzBnR0OywFehxCho+SpXQOaSiIsgIiIAiIgCIiAIiIAiIgCIiAIiIDy5xb6lzq+ED2kDU2063aYpZA+msFP8APbp4fGZgHOB9TGx+o7wW920rXFBs30TedSXLdNLb6d0xYTgyu4BkY8XOLW+shcetSX6r1Xf7lebjL6evr6iSonk+s97i52PDJOFVulxtLNEcvLKeCAOBTeHkJvDr9ibw8hVC+N4eQnMkj7E3h5C9RxumkDGNMjncA0DmUB182CXdt72KaGq2kEus1I1/g9sTWvHsc0q/wcha4dhfUclbsajsNVIHVtkqnxBmckRSuMjOPrMg/VC2Ob9ELpQeYpnKmtsmiHt3sgjLTzGOYXKvbr8DHcL5r+uuuzDVlntOna6Yz/gi9NmY6gycuZE9jX+kYPyQ4NIGAScbx6rEZUbg/etzQ107FnY2sfZA0DXWuluBvupLxJHPd7u6L0TZSwERxRsyd2Nm+/GSSS5xPMNbsWBhqboUrAAytUO1PqOO3bcNm4e4NZbZIK15cMgA1I5/7JbWufunlw6rnT2j9XjWW2K/VETw6mpJBQQnmAIvkuOehfvn2hV7pJIsURcpHRVpyF7HJWfsr1gNc7O7De2vbJLVUjDNjulHyZB+21wV4N+iP3KaLyk0QNYbRaG1rZnZNsWzy/6L1LC+psd6pXUtQyMgPb3tewkYD2ODXtJyA5oyDyXLSp+BO1gdYeipdo9kOlTJltbNRzfHms4Y/k4G4SAf/mjPh3deSwE5Kj0YzkcD4d63MFj7Edj2ntg2y+w6G0vHI20WmEsZJM4Olnkc4ukleQMFznuc44wOOAAAAr6HRAMBSgPm8Hicgcua5O9q28MvfaH1xUNf6QMrRTE+MUbIiPYWY9i6paivVPpyz190q3blJRQPqJnd+6xpcceOAuQ2urdWXa9XK+lxnlrqiSrnHNwe9xc53iMkqrfJcIuaeLbbLO3h5Cbw8hN7/wB0z1+5VC4N4eQq7oPV1RoPWtj1HScZ7ZWRVQbnG+GuBcw+Dm5B9aoW8PIThnOSsp4eQ1lNHa6y3qlv9nobpQyiehrII6iGVv5bHtDmn2ghfvHJap9gXauNV7PKjSNXPvXLTzsw77uL6WQktx+i7eaegLB3ratgw0BdGEtyycmS2vB6REW5qEREAREQBERAEREAREQBERAF4e4tBxgnuC9q3tfavotAaNvWo7if5HbaZ9Q9oOC/dHBg8XHDR4kLD45MpZNMPhCdsPx6523Z9b5swUu7X3IsPOQj5qM/otJeR377e8LTEEDw8MclVdWamrdZ6mul9uUhkr7jUPqpj+c45wPAZwB3AAKlbw6rnTe6WTp1x2xwN4eQm8PITeHkKRlxAaN4nkB3+C0JD1DFJUTNjibvvdwAAV+2DT8dpi9JIA+pcOLungF89NWEWyL08oBqpB0+gOirmAomyWMcdmVezdtPbs02jU76uX0dnuIFJWnuYHH5Eh/RcOJ+qXLoXFMJImva5r2uAIc3jkdVyf8APn7PctsezH2j2NiotG6nnw5m7Dbq97uB7mwyHuPINPgAe4mzVaorEuCnqKW/lE2x9JjmQvlPXRUwzLIyMfnHCt646oJBjpRunkZCM+5W/JO+aQve9z3HmT3rl6n1qqpuNfyMVaOU+Z8F3z6qpY8hgfKfzW/xwvxSaxdx3KYfrPVt4z3D29y8ySshjfJI4RxMG85zjgAdc9w8VwJ+s6qx4iy9HR1oq9fqarraWaFhFM6RjmCWL6ceR9JpORkcxkFYEHZU0gd8yV15nc/8qSojyPHhGFWdS9pfZdpKR8dx1vahI3g5lJKapzTxyMRB3Hhy5qzantz7IqeQMZe6yoBdul8dumAA+t8poUbv11neSeNVdfSM07LtOQ7KLFLaLXU1VdRSTmoAr3tc5jiADulrW4BxnHXKviLWDxgOp2uxzw/H7lrnau2Tsguz9xmrWU0h7quiqIhjrvGPdHvWUNMaysGtKQ1NgvdBeoBzfQVLJg09CGk4Pgt/e6+lc5/2ay09U/oyXT6rpJAN8Pi8XDgqjT3CGqbmKRj/AAaeKx5kd3f0/ivTXljg5pc1w7wcK3T65dH/AJFlFaehi1mLwZI3/EZUCQnvBVnUWpqmnIbL8+zo7gfYVb+1/bradl+lRWbnxy61W9HR0WCA94AyXnuaMgnvOeHfj0mm9Ro1S+Lw/wAM509NZB8rgxv2ytqkdt03Do2hmDq65Bs9YY3fzdO05a3wLnAH1NPVabY5jmMqpak1DX6svlbd7nUOqa+rkMssp4ZJ6DuAHADkAqasTnvlk6NUNkcFp6m0wCHVdGwZH04h3+IVpg933rLGOSs3VenxTk1lM35snMjB+T4+papmXEtneHkJvDyE3gm8PIUhp0ZB2DbV59jW0+06kZvPomOMFfCznLTPwHjHUcHDxYF10oK6nuVDT1lLMyelqI2ywyxnLXscMtcD3gggriVkZXRzsGbWjrLZhLpitl37jptzYWFx4vpXZMR/VIczhyAZ1VmmWPiVL4f3I2hCleWngM8F6VspBERZAREQBERAEREAREQBERAQDlaefCKbRnWvSdi0bSy7kt0mNdV7p5QxY3GuHRz3Z/8AKW4JdujwXLHtla1OtO0BqHdfvwWostcI+p6IfOD/AGrpfeobZYRNVHdIwkCAOnhhN4eQgIAwm8PIVA6YLldOkLIJXfHp2jcBxED3nqqFabc6618cDfoni49GrJMMTIYmxxjdY0AALRs2gj360RFoSnpjTI9rGtLnOIAa0EkkrbrYXsZh0PbYrxdYmy6gnjyA7iKRrh9Fv5x5Ej1dc4q7M2gG6l1VLe6yPforUWmMO5PnPFn7OC71lvt2yJHfz9WF5r1LVPP8MX12TVx+2TkexMjomQmR0Xn1wWEW7tC15a9mejLrqe8vLLfbYvSvDRlzySGtYPFziGjxcM4HFcuts/aK1htruU7rrXS0VmLvmbLTyEQRDu3h+W4d7newAYA367ZWnKvUvZ61KyhD3zUfoq50bDjejjka6T3M3nfqrlry4feMfYvTel01yg5vsim+QeJPE8fEp/HKIvQ4RGMccr9tmvlx05cYrhaq+pttdCd6OppJTHI09QRxX4kWsoprlA6Jdj/tU1e1aWXSOqix+pKaEzU1cxoYK2JuN4PA4CQc8gAOAPDIJO0uQuZ3YS01V3ntA224wtd8Ws9LU1VQ7kMOiMLR4nelBA/NPRdMMgcOa8b6hVCq9qHRNHoZCpOqNLWzWVlqLXdKds9LM3ByPlRnue09zh3f8VV8jomR0XNi3F/E2az2aIbSdn1ds51PLbKoGSF3zlLP3SxknB9Y5EdR4q1ByW6G3vQTNbaDqpIot6425rqmncB8ogD5bB+k3PtAWl/Nez0WpWorz9oqSjtYUPa17C143mO4EHoVKLompjvUFoNord1o+YfxjP7lSw4dfsWSbzbW3WhkhI+c5xu6OWN3sdC9zHN3XNO6R0UiZDJYZG8PIWZOyVtFOznbjYaiSX0duub/AMFVeTgbkpAYT0xIInZ6ArDe8Ov2IyR0cm+xxa5uHAt4Ece5bp4eSOSysHbpnFoXsHIVpbKNXDXezTTGoA4PluFvhnlwOUpaPSD2P3h7Fdo5Lpp5SOTjDZKIiyAiIgCIiAIiIAiIgCjmpRAfCplZTwSySOAjY0ucT3ADJXFe/wB5m1DfrldalxNTXVMtVKTxy97y4n3krstq4TO0xeRTktnNHN6Nw7nbhx9uFxaBAA7vBVLy3p/sZHkJnnhN4eQv12qiNyuMFOOIc4b3g3mfuVQul3aPtopKH4w8fLnOePczu/iq+OQUNY1jAxow0ANAHQKVCToITj70UHhnrzRmTdTs92Bli2W2p25uy1u/Vyn6xccN/uNYsj5A8VQdAxMp9CaciYSWMttM0E8z803iq9kdF4K+TlY2y4uhkdEyOiZHRMjooDJ854IqqGSCaNssMrSx8cgy17Twc0jvBHcua3ai7Klz2SXesv8AYKWSu0TM/wBIJIgSbeSf5uTvDPqv5AEAnON7pZ93Q/eofG17S17Q5pBBDhkEHu9Su6bUy00sx6MNZOJIPVSunW0LsS7M9dVElXT0NRpmteS50lmkEcZPjE4FgHg0NWlXaJ2AU+w/XlmsFLeZLtDcqds4llphG6LMrmYwHHe4Nz3ZXqKNfVe9q7ImjDJPv7lXdF6Ivu0LUFPZdP26W53Gc/Jii5Nbwy5xPBrRkZccBbz6W+Dq0fbahkl+1JdL0GnjDTsZSRu6g/Tdj1EHxWx2g9mumNmFq/B2mLNT2enON/0DfnJSM4L3klzzxPFxOAeGFWv9UrisV8syosszs47BKLYLot1B6RlXfK0tmuVawEB8gGGsZniGMyQM8SSSeYAyzkKOGMAAcsBScA4wvLTslbJzl9kiWBkdEyOiZHRMjotUZILQ8EEAg9x5LQTXljbprWl7tjBuxU1XIyMfmbxLf7pC3778e1aV9oOJsO2DUDWjdBMDseJgjJ+0rt+kye+USKzrJjpERepK4789OSsrWVs+LVbKtjcRy8HY+sB59xV6r8V4oBcrdNBj5Zblh/OHLz4rKNZLJjQHA48/UhweZ4KScHB4Hpjko3h5CkZCjph2DL8+9dn+kpnP3/wZcaqkHtImwf8AbfctjWjAAWq3wdBH/Ire/wDxDP8A5amW1I4hdKHijlTWJMlERSGgREQBERAEREAREQBR3qVCA+U8bZGOa5oc0jBBGQQuLeqbG/S2prvZpgWy26smpHgjjmN5afuXagtDlzI7c2gHaL25VlxijLaC/wALK+NwbhvpANyZueu80OP/ANQKtcsrJaoeHg163h5CuvQ9ECamrI5Yjaftd9mFamTnHDPL1LI2m6X4pZqZpHynN9I728fuwqL6OjFclSREUZKEIzjpyRFh88A3q2P3Jt32YaanaQ7FFHBn85nzZ+1qvDIWA+yfq5tVZrhpyV2ZqST41TtJ4ujcQHAep2D+us9ggDr4rw2qrdVrTLcXlE5HRMjomR0TI6KobGuXaP267Q9mO0TTFm0lpVt6ttwhbJJI6nkkdUSmRzTAxzSA1wa0HJB+mDjCzSNo+ljrI6TF+t51IGekNrE7fTAbu9jd67vysc8ccY4rCnaT2y7T9nW0LStr0Vpn8L2usia+ST4o+X4xMZS10G+D83hoYc/95nuVy/6K+mm7dP8AlOFwrxXelNUKDeAh9OWbhfvY3t3Hyt3PPw4K/KFbqTlxx9ff+TUzVkD/AILQft+//GvRR5D8HRD/APJkW++QsKbcuy/bdt+stNagqrzUWt1qAingipxJ8ZhEm+GhxcNw5LuOHDiOC10dsKbE5mWsozYTx7wR9it7WW0HTWzyjp6rUl6orLBUSeiidVyBnpHYzho7/Horh5c+PisTbfeztZO0BS2WO519XbZ7VJI6Cak3Tlsm4JGlrgc/QYQe7B6qvDbKWJPCH0WPtb2/a90ptx0rprTWm4btpm5imd8bEEknxoSPw90crSGNa1uDk5x9I8CFsgCABwWr+v8AaLtD2S7VNCaA0Xpc1+jYKSioo5H0zpn1ETSI3ZmbwjLGAdMHLjkFbQk9ck9Sp74pRi0kv/fYQyOiZHRMjomR0VMyD17loxtlubbvtR1JUNdvtbVugDuvowI//Stydc6ph0ZpK53iYj+TRExsJ+nIeDG+1xAWg880lTNJLM8ySyOLnvcclxPEleh9JreXNkNj+j5oiL0hAEPuRMcUBjzUtH8SvEzcYZJiRuOXHn9oKpQJI6FXdrulBgp6gfkkxn28R9x96t2zWeq1Dd6G10MPp62unZTQRjm6R7g1rfDifeVLHkgk9p0r7ClhdZuz5a6h7Nx1zrKmt3SMEjf9G0n1iIH1LYZv0QqBoPScGiNFWPT9M4OhttFFSh4GN8sYAXesnJ9qr66cFhYORJ5eSURFuahERAEREAREQBERAEREAWBO2Psck2tbK55LfD6W+2QurqNrRl0rcfOxfrNGR1cxo71nteCwOJWrWVgynteTiPBEZ5mRAEGRwaB35JA/esqNaGNDWjAHADoqt2ktNW/Tfah1NbbXTMpKNtTDVCFnBrXSU8cz8DuBe5xx3cgqVyXJmsPB2q3ujkIiLQlCIiArmi9WVuiNTUV4oSfS07sujzwlYeD2HwI92AVvRpXU9BrKw0l3tsolpahuRkgFju9juhHf/wAVz7wr12Y7VrpsxujpKX+VW6Yj4zQvdhsg6t6OHXv78rla7Sfzx3rskhLaby55ZGPWEyOitTQu02wbQqRslqq2/GgPnKGUhs0frb3jxHD1cldY7uC8lOEq3iSLCaYyEz68p3HhyUA5Wi5AznxPivbInvDnMaSGcSWjkv2W2z1FzwWt3ITzkdy9iu+jtUFHTejY3n9Ikc12tH6VbqVulxH8lK7VQr4jyWFkJn1qv3fTb4nOlphvMPEsAyR6lQXNMZIeN3HPe4YVDU6WzTzcLET13QsWUQTkAHJA7jxTI6KM8M47s8OKnvP7hlVG8vOck/QyOiZyQOGTy8+f4/jut3obFRSVlxqoaGkj+lNO7daPf9y1q2w9ot1/p57Jpd0kFBICyoruLJJh3tYOBa3q7meSt0aWzUSUYo1ckindo3apFq67MsFrm37VQSEyysPyZp+RIPeG8QPHJ6YwuOIHdwUc+Oc9Cp5L2VFUaYbI/RVbywiIrBgIiIwUvU9N8ZslTwOWjfBx0wT9mVmzsEbGH6n1rNru40+bXZS6KiLxwlq3DG8OoY058HOb0KwxfKyGitk7piA1zCxoPeT3fauh3Y+pIouzjosxxtj3oJnHdGMuM8mSfHxVmhbmUtRLauDMrfohel5DcYXpdE5aCIiyZCIiAIiIAiIgCIiAIiIAoUohhnLHtoyOh7TusZGOLXtNEQR3H4lBxVl2DU0dzAhnIjqe7PAP9Xj4K8u2oR/pM6y/sf8AkoFhEO3TkEg9QuXYsyZ1qniKMsDicIrMs+sX04EVaHSxDh6UfSHrHerspa2CtjD4JWygjPDmPWFDjBZTPuiZ8UCwbBERAfSCeSlmZLDI6GVhy18Z3XNPge5ZBse3/XFjYyMXg10TcfIrYmyn9oje+1Y6RRTqhZ5LJlNrozEe1RrIs3RBaQ7Od/4s8n7X4X30N2kNRM2g2Wr1BcRNY2T7tVSshYyMMeC0u4DJ3c7wGfycLCyKOGmqhJSUUYk3JNHV6mlZUQxyQua+J7Q5j2EFrgRkEHvGF9m8s5Wg+x7tSXzZjQRWmupRf7LDwhiklMctOOjX4OW+BHtAWZmduTSpY3esF4BxxAERHv31242waT6OPKiafBsgRxIzwysNdpraNFs80JI+kliiv1c8Q0J3Wue3BBfJggghrRj1uarBv3bltoo3iy6bqpasjDTXStYxp6kM3ifVketaxa619eto1/lu98qzU1T8NY0DdjiYDkMY3uH29+cqG6dco4xklppmnl8F+Ufaj1rTNb6X8HVjgcl89Mcu/ZcAvhcO01resjLYqijoSeG9T0oJH7e8sUIuQtLT3tR1dz/JU79qe7aoqRPdrlU3CUcjPKSG+DR3DwCpmPd0RFZjCMViKNewiItgEQ8FD3Bjd5zg1o5udyQE5X5LjdILXTmWZ3g1g5uPgqRdtYQUuWUnz8o/LP0W/wAVZ9ZWzV85lqJXSSHv7gPBZUWaNn2u12mu1QZpeDRwbGDwaF1P7IPHs46K/q8v+PIuUZ+iV1c7IH9HHRX9Xl/x5Fco8ijqPEzEpRFeKAREQBERAEREAREQBERAEREAREQwzlh21CB2mdZf2P8AyUCwhvDyFm/tqEDtM6y/sf8AkoFhDeHkLmz8mdSvxQyOq9wTvpnh8Mj4nDvacLxvDyE3h5CjJSv0etKyn+TMxtS3q47rlWKfW1DLgSMkhd6t4fZx+xWRkdUyD3lYaNlJoyPHqK2yYxVxj9LLfvX6Y7jSzAFlTC/P1ZAVi7h1KnIytdptuMrtcHDIII6jihOO9Ypa/cOWuIPUL7Nr6hn0amZvqkI/em0bjKKjPTisaMvNaw8K2o9sjj+9fQahuAGPjkvt4ptM7jJAPLuITgscjUlxAx8bf+yP4J+Mtx/7W79lv8FjaNxkU+rgp7uCx1+M1yx/rbv2R/BePxhuBJPxyT2YCztMbjJA4px6LGjr5XOGDWz+x5C+brnVP+lVzu9byf3ptG4ycTgZ5DxXzfVQxjL5WMH5zsLFzpnP4ukc4+JXnLfIWdo3mSpL7b4vpVkP6rw4/Yvxz6vtsWQ2R8zujGH96sHh1KcPITaYcmXRV65kfkU1M1mPypTk+4Kg1l1qrgf5RO6QfVHBvuC/Lw6+4YTI6rODXLYyOHHl4JkDv+xN4eQm8PIWxgh3FpXVzsgf0cdFf1eX/HkXKN3FpXVzsgf0cdFf1eX/AB5FYo8itf4mY0RFdKAREQBERAEREAREQBERAEREAREQwzlh21CB2mdZf2P/ACUCwhvDyFm/tqEDtM6y/sf+SgWEN4eQubPyZ1K/FDeHkJvDyE3h5CZ8OC0JQXeSqxpfR981rcfiFhtdVdavvZTR7253Zcc4aPEkDqsv9nvsy1m1QsvV6Mtu0wx3ySz5MtaeREZPJvAgv8MNzxI3j0tpKzaKtEVrsduhttDHjEUDN3eI4bzjzJ8TxXG1XqMKXsissmhU58vg000x2HtYXSNkl5utusbXc4W71TM31gYb7nEK84uwTRtYBLrOd7x9JzLc0D2D0p+9bX8PHz3JwXBl6lqG+JYLP8UEjTe99gy7QxudaNV0dY/BIZW0jqcerLXPz7lhXX2wrW+zZr5rzY5viLf+vUnz0HrLm/R/WDSumXD968vYyVjmPYHsdkFrgCCDzBHTw7+9S1eq3p/PlGHSn0ckMkj39ybw8hbsbduyHb9RU0970RBHbLs0F0ltbhtPUkcfkDkx/QcGnl8nmtLaulqKCqmpamGSnqoXmOSGVpD2OBwWuB4gggr0um1depjmJUlBx7PjvDyE3h5CbwTeHkK4aDeHkJvDyE3h5CZ5cvb588UyBnnjj7FVtNaUvWsrk232O11N0rHcfRU0ZcQOrjyaPE4A7yst9n3s0XDaxJHeLuZbbpaN5HpG8JatwOHMizyHDBf4YHeRvPpPRtk0JaY7XYrbBbKOPh6OBmC4jvcebj4klcbVeoxoeyKyyaFTly+DTTS3Yf1ldo2y3m5W6xNd/wBE0mpmb6w3DPc9XrD2CKQRgS6zne8cHFltaB7B6Q/etr8jp4JwXCl6le/7sFlVxS5NOr32C7nCxxtGraSrfzbHW0boB7XNc/7lhTX2wfXGzdr5rvY5nULBk11H8/AB1Lm8WD9IBdMOCh7WyNLXNDmkYLXAEEdFLV6pfF/LlGrpi+jkeDkZ7uoCBwIW7u3jsj2zVVPU3nRkENqvgBe+3tIZT1R8O6N/fnke/GS5aU3CiqbXW1FJWQSUtVTyOjmhmbuvY4HBDh3EHmO7xXpdNq69THMSrKDj2fDeHkJvDyE3uvD2JvDyFdNCHcWldXOyB/Rx0V/V5f8AHkXKN3FpXVzsgf0cdFf1eX/HkVijyK1/iZjREV0oBERAEREAREQBERAEREAREQBQpUHkgOWPbUIHaZ1l/Y/8lAsIbw8hZv7ahA7TOsv7H/koFhDeHkLmT8mdSrxQ3h5Cyl2d9jztr+u46apDmWKhDai4yt4bzMndiBHe859QDiOICxbnOOIGeoXQ3snaEj0bsgttS+IMrr1i41DiMHcd/NNz4MDT4ElcrX6j29Tx2yzXHdIy9R0dPbqOClpoWU1PCwMjhjADWNAwAB4DgvtkYU5xzHHvTI6Lw+c9nRGR0TI6JkdEyOiAZHRMjomR0TI6IYIODnhz4ezotVu2VsTjrrc7XtngDKqnDW3WNg4yx8mzetvAO8OPcc7VZHRfmuVvp7tb6qhq42zUlTC+CWJ4yHscCHA+wlWtPe6LFNGk47lg5LAgDGfsTeHkK4NoGlZdDa3vlglJcaCrkhY8/lsB+Q79ZuD7Vb4d7F7+MlOKkujnNYeBvDyFkzs/7IZdsGu4qCUPZZqQCouE7OBDM8GNPc55GB0G8e4hYzz0XQTsi6FZpHZDSV8kYbXXt7q6V5HH0f0YR6t35Q/Td1XP19/t6Xjtm9cd0jMtut9JaaCnoqKnipaOnjEcMELA1jGAYDWgchjAX6AQAB04KScE5HFMjovDZ3cs6IyOiZHRMjomR0QyMjomR0TI6JkdEMDeWrvbG2JQ3e0P13Z6cMuNEP8AnJjBj00PL0v6TOGerf0VtFkdF8ayjguNJNS1MTZ6aaN0csTxlr2OBBBHfnkrOnvdFimjScdyOSYOOB59/BN4eQrm2l6QfoDXt90+7JZQVTo4ieJdESHRknxY5p9qtnPXn6l7+Et8VJHOaw8EO4tK6udkD+jjor+ry/48i5Ru4tK6udkD+jjor+ry/wCPIrdPZVv8TMaIiulAIiIAiIgCIiAIiIAiIgCIiAKDyUogOXnbktslv7R2oZ3tcG1sFJUMJHAgU7I+HtjPuKwJkDv+xbyfCLbM5amGw67pYnPZTt/BleWjgxpcXwuPQbzntz1c0cO/RsO68/ELm2xxJnTpacUSyN0z2sY0ue4gADv8F1mtNuis1ro6CEYipYWQMAHANY0AY9y5OUlR8VrIagDe9E8SY9XH+C61wzMnhjkYd5j2hzSO8HkvL+s5+H+y/R9nvI6JkdEyOiZHReZLYyOiZHRMjomR0QDI6JkdEyOiZHRAMjomQmR0T2e9YbM/ZoB2zrWy37baioY3ddXUNPUOOMZIBjzn/wAtYMaQAB+5Z/7blcKzbHBEC0/FbTBCQM8MySv4+yQfYsAZHVe/0jzp45/BzZ+TGV1g03ao7Dp21WxjAxlFSRUzWjkAxgaPuXJ/GfFda6GsjuFDT1UfGOeNsrT1DgCPvXI9YbxD/ZNR9s++QmR0TI6JkdF5gtjI6JkdEyOiZHRAMjomR0TI6JkdEAyOijIx3jv4dVOR0QnwT6MmhHbXtbLdtnbURhrTXWyCpfg94c+IfZGPcsCAgcP3LYXtx1Uc+1+gjYcuhs0LHjx9NM4D3OC16BxwJ4he+0Wf4IZ/BzbPJj6WRz5cl1l7KFA+3dnfQ8Un0n0PphwxwfI54+xwXKrT1grNV3+3Wa3RGaur6iOmgYPynvcGj1cSuzWlrDBpXTFostL/AKrbqSKji4Y+RGwMb9gC61CeWyhqJdIqiIiuFIIiIAiIgCIiAIiIAiIgCIiAKFKICi6t0xbdaaeuViu9M2rttfC6CeJx4FpHMdCDgg9xAPcFyv2+dn++bDNSyU9VHJWWCd7jQXZrCWSN+o/Aw2Qci04zzHBdaHsDxgqnX7Tds1Raai13ehguVvqG7ktNVRiRjh4g/fzUc4KZLXY62cUyRnj3d3iul3Z91izW+yHTdcHh9TDTNo6kZ4iSL5s58TgO/WVm7Rvg7dP3eeWq0bfJ7C45IoK5pqYB+a1+Q9o9e+v3dnPs87RNidyuttu09quGnK7Eokoqp5dDM0cH7r2N4OHyT4tHt896lo53V5istHTpvinyzNOR6/UmR0VX/FiuP5LPY5PxWrvqs968n7DVfoy97ir9kUjI6JkdFV/xWrvqs96fitXfVZ70/p+q/Rj3FX7IpGR0TI6Kr/itXfVZ70/Fau+qz3p7DVfox7ir9kUjI6KM4OcZx5x/wVY/Fau+qz3qy9r2j9Z3HQlzt+koad15rGfFmyzTiJsLHZD3g/W3cgdCQVvX6dqZSSlB4MPUV44kc5NuOsY9d7V9SXmGUy00lSYaeQHg6KMCNjh4EMB9qsXI6rYodgvavj/U7V/v7f4J/oF7V/8Asdq/39v8F7iulwgopdHPlbFvOTXQ8eRwTyXSbs3axj1psc07U74dUUcIt9Q0ni18Q3ePiWhrv1lrJ/oFbVz/ANTtX+/t/gs39mHYJtP2QXe4UN6pKF2nrg3fcYa1r3QztHBwGOIcPknxDehzzvUNLZfV8VlokqvjF9mecjA4JkdFVm6YrSM7sf7Sn8Vq76rPevLew1WPBlz3Ff7IpGR0TI6Kr/itXfVZ70/Fau+qz3rH9P1X6Mz7ir

In [8]:
with app.app_context():
    db.drop_all()
    db.create_all()

    # insert student url, leave resume_url as empty
    # open ./raw_data/student.txt and read into database
    with open('./raw_data/student.txt', 'r') as f:
        for line in f:
            line = line.strip()

            # each line are: username, first_name, last_name, email, password, qualification, school_name, major, skills, strength
            tokens = line.split('|')

            new_student = Student(
                username=tokens[0],
                first_name=tokens[1],
                last_name=tokens[2],
                email=tokens[3],
                password=tokens[4],
                avatar=random.choice(avatars),
                qualification=tokens[5],
                school_name=tokens[6],
                major=tokens[7],
                skills=tokens[8],
                strength=tokens[9],
                resume_url=None)

            db.session.add(new_student)

        db.session.commit()

    # fill supervisor table, read the file ./raw_data/supervisor.txt
    with open('./raw_data/supervisor.txt', 'r') as f:
        for line in f:
            line = line.strip()

            # each line are: username, first_name, last_name, email, password, qualification, school_name, skills
            tokens = line.split('|')

            new_supervisor = Supervisor(
                username=tokens[0],
                first_name=tokens[1],
                last_name=tokens[2],
                email=tokens[3],
                password=tokens[4],
                avatar=random.choice(avatars),
                qualification=tokens[5],
                school_name=tokens[6],
                skills=tokens[7])

            db.session.add(new_supervisor)

        db.session.commit()

    # fill partner table, read the file ./raw_data/partner.txt
    with open('./raw_data/partner.txt', 'r') as f:
        for line in f:
            line = line.strip()

            # each line are: username, first_name, last_name, email, password, company, position, description
            tokens = line.split('|')

            new_partner = Partner(
                username=tokens[0],
                first_name=tokens[1],
                last_name=tokens[2],
                email=tokens[3],
                password=tokens[4],
                avatar=random.choice(avatars),
                company=tokens[5],
                position=tokens[6],
                description=tokens[7])

            db.session.add(new_partner)

        db.session.commit()

    # create all the fake projects, total 30 projects
    # open the file ./raw_data/project.txt and read in all the projects.
    # example:
    # Title: Automated Drone Delivery System
    # Description: Develop an automated system to facilitate the delivery of packages using drones.
    # Problem Statement: The traditional delivery system is slow, labor-intensive, and can't cater to remote areas efficiently.
    # Desired Outcomes: A fully functional prototype drone capable of carrying packages up to 5kg, equipped with an automated routing system.
    # Required Skills: Robotics, Machine Learning, Aerial Dynamics, Routing Algorithms.
    # Deliverables: Prototype drone, backend control system, user interface for package tracking, and documentation.
    # (here will be an empty line)

    # here we get all students, partners, and supervisors
    all_students = Student.query.all()
    all_partners = Partner.query.all()
    all_supervisors = Supervisor.query.all()

    with open('./raw_data/project.txt', 'r') as f:
        # read all lines, strip
        lines = f.readlines()
        lines = [line.strip() for line in lines]

        # each project has 7 lines
        for i in range(0, len(lines), 7):
            title = lines[i].split(':')[1].strip()
            description = lines[i + 1].split(':')[1].strip()
            problem_statement = lines[i + 2].split(':')[1].strip()
            desired_outcomes = lines[i + 3].split(':')[1].strip()
            required_skills = lines[i + 4].split(':')[1].strip()
            deliverables = lines[i + 5].split(':')[1].strip()

            # fake a datetime between July
            # this is the project.created_at time
            created_at = faker.date_time_between_dates(
                start_date=datetime(2023, 7, 1),
                end_date=datetime(2023, 7, 31),
                tzinfo=timezone)

            # create a new project
            new_project = Project(
                # randomly select one partner
                partner_id=random.choice(all_partners).partner_id,
                title=title,
                description=description,
                problem_statement=problem_statement,
                desired_outcomes=desired_outcomes,
                required_skills=required_skills,
                deliverables=deliverables,
                created_at=created_at,
                status='is_open')

            db.session.add(new_project)

        db.session.commit()

    # select the all projects, and set the first half projects to be completed
    all_projects = Project.query.all()
    all_completed_projects = all_projects[:len(all_projects) // 2]

    # read all student interest express,
    # and read in all supervisor interest express
    student_interest_express_list = []
    supervisor_interest_express_list = []

    with open('./raw_data/student_interest_express.txt', 'r') as f:
        student_interest_express_list = f.readlines()
        student_interest_express_list = [line.strip() for line in student_interest_express_list]

    with open('./raw_data/supervisor_interest_express.txt', 'r') as f:
        supervisor_interest_express_list = f.readlines()
        supervisor_interest_express_list = [line.strip() for line in supervisor_interest_express_list]

    # for each finished project,
    # need to complete the table: project, student_interest_express, supervisor_interest_express
    # project_progress, and random project supervisor feedback
    for this_complete_project in all_completed_projects:
        # select random 5 students, and 3 supervisors to express interest
        # reason last_updated_at is within 8/1 to 8/15
        # select random 3 supervisors to express interest
        # reason last_updated_at is within 8/1 to 8/15
        interest_student_list = random.choices(all_students, k=5)
        interest_supervisor_list = random.choices(all_supervisors, k=3)

        for interest_student in interest_student_list:
            reason = random.choice(student_interest_express_list)

            last_update_at = faker.date_time_between_dates(
                start_date=datetime(2023, 8, 1),
                end_date=datetime(2023, 8, 15),
                tzinfo=timezone)

            new_student_interest_express = StudentInterestExpress(
                student_id=interest_student.student_id,
                project_id=this_complete_project.project_id,
                reason=reason,
                last_updated_at=last_update_at)

            db.session.add(new_student_interest_express)


        for interest_supervisor in interest_supervisor_list:
            reason = random.choice(supervisor_interest_express_list)

            last_update_at = faker.date_time_between_dates(
                start_date=datetime(2023, 8, 1),
                end_date=datetime(2023, 8, 15),
                tzinfo=timezone)

            new_supervisor_interest_express = SupervisorInterestExpress(
                supervisor_id=interest_supervisor.supervisor_id,
                project_id=this_complete_project.project_id,
                reason=reason,
                last_updated_at=last_update_at)

            db.session.add(new_supervisor_interest_express)

        # the project table: fill: supervisor_id, being assigned at, student id, being assigned at
        # select the final project_student and proejct_supervisor from the interest list
        project_student = random.choice(interest_student_list)
        project_supervisor = random.choice(interest_supervisor_list)

        # this all happens at 8.16 - 8.20
        being_assigned_at = faker.date_time_between_dates(
            start_date=datetime(2023, 8, 16),
            end_date=datetime(2023, 8, 20),
            tzinfo=timezone)

        this_complete_project.supervisor_id = project_supervisor.supervisor_id
        this_complete_project.supervisor_being_assigned_at = being_assigned_at
        this_complete_project.student_id = project_student.student_id
        this_complete_project.student_being_assigned_at = being_assigned_at

        # since it is completed, mark this project as closed
        this_complete_project.status = 'closed'

        # commit everything so far
        db.session.commit()

        # each project will